.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 20vh;*/
  }
  
  .centered-header {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 4.5em;
    /*color: #581845;*/
    color: #5D3953;
    margin-top: 50px;
  }
